<!DOCTYPE html>
<html>
<head>
    <title>NodeBattleship</title>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    td{
        width: 10%;
        height: 60px;
    }
    .table td:hover{
        background-color: #3a3a3a;
    }
</style>
<body>
    <div class="container">
        <div class="board board-user">
        </div>
        <div class="board board-com">
        </div>
    </div>
    <div class="details">
        <button id="start">Start</button>
        <button id="rotate">Rotate</button>
        <h3 id="updates">Updates</h3>
    </div>
    <div class="available-ships">
        <div class="ship ship-carrier" draggable="true">
            <div id="carrier-0"></div>
            <div id="carrier-1"></div>
            <div id="carrier-2"></div>
            <div id="carrier-3"></div>
            <div id="carrier-4"></div>
        </div>
        <div class="ship ship-battleship" draggable="true"></div>
        <div class="ship ship-cruiser" draggable="true"></div>
        <div class="ship ship-submarine" draggable="true"></div>
        <div class="ship ship-destroyer" draggable="true"></div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <!-- <script type="text/javascript" src="/js/game.js"></script> -->
    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
